<div class="main-content">
  <div class="container-fluid">
    <!-- Statistics Section -->
    
    <app-foyerdetailview [totalFoyers] = "total" [averageCapacity] = "average"> </app-foyerdetailview>

    <!-- List of Foyers Section -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header" routerLinkActive="active">
            <h4 class="title">Liste des Foyers</h4>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Rechercher par nom" [(ngModel)]="searchTerm" />
            </div>
            <a routerLink="/foyer/add">
              <h4>
                <i class="pe-7s-home"></i>
                Ajouter un nouveau Foyer
              </h4>
            </a>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th (click)="sortTable('idFoyer')">Id</th>   
                  <th (click)="sortTable('nomFoyer')">Nom</th>
                  <th (click)="sortTable('capaciteFoyer')">Capacite</th>
                  <th (click)="sortTable('descriptionFoyer')">Description</th>
                  <th (click)="sortTable('telephoneFoyer')">Téléphone</th>
                  <th (click)="sortTable('typeF')">Type de Foyer</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let f of filterAndSortFoyers()  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <tr>
                  <td>{{ f.idFoyer }}</td>
                  <td>{{ f.nomFoyer }}</td>
                  <td>{{ f.capaciteFoyer }}</td>
                  <td>{{ f.descriptionFoyer | slice:0:10 }}</td>
                  <td>{{ f.telephoneFoyer }}</td>
                  <td>{{ f.typeF }}</td>
                  <td>
                    <div class="center">
                      <button type="submit" class="btn btn-success" [routerLink]="'/foyer/update/' + f.idFoyer">Modifier</button>
                      <button type="submit" (click)="deleteFoyer(f.idFoyer)" class="btn btn-danger">Supprimer</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex;justify-content: center; align-items: center;">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
  </div>
</div>
