<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Statistiques</h4>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="statistic">
              <h3>{{ totalFoyers }}</h3>
              <p>Total Foyers</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="statistic">
              <h3>{{ averageCapacity | number:'1.2-2' }}</h3>
              <p>Average Capacity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
